* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  position: relative;
}
body > header {
  width: 940px;
  height: 27px;
  padding: 32px;
}
body > header > .img {
  position: absolute;
  left: 231px;
  top: 36.1px;
  width: 90.6px;
  height: 26.9px;
}
body > header > .nav {
  height: 27px;
  position: absolute;
  left: 444px;
  top: 38px;
}
body > header > .nav > a {
  margin-left: 30px;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #111111;
}
body > header > .nav > a > .about {
  width: 42px;
  height: 19px;
  max-width: 42px;
  max-height: 19px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #111111;
}
body > header > .nav > a > .revenue {
  width: 62px;
  height: 19px;
  max-width: 62px;
  max-height: 19px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #111111;
}
body > footer {
  margin-bottom: 0;
  bottom: 0;
  margin-top: 60px;
  background-color: #eeeeee;
  width: 100%;
  height: 62px;
  position: relative;
}
body > footer > p {
  position: absolute;
  top: 23px;
  left: 567px;
  text-align: center;
}
footer > p > a {
  text-decoration: none;
}

body > section {
  margin-top: 50px;
  margin-left: 230px;
  width: 940px;
  height: 890px;
}
body > section > .about > h1 {
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #111111;
  margin-bottom: 30px;
}
body > section > .about > p {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}
body > section > .Howitallbegan > h2 {
  font-family: Roboto-Bold;
  font-size: 20px;
  color: #111111;
  margin-top: 30px;
  margin-bottom: 30px;
}
body > section > .Howitallbegan > p {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}
body > section > .ourrecipes > h2 {
  font-family: Roboto-Bold;
  font-size: 20px;
  color: #111111;
  margin-top: 30px;
  margin-bottom: 30px;
}
body > section > .ourrecipes > p {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}
