:root {
  --br: 15px;
}
.title-section-cards {
  text-align: center;
}
.container {
  margin: 50px 0 0 230px;
}
.cards {
  max-width: 940px;
  margin-top: 113px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  max-width: 300px;
  background-color: white;
  cursor: pointer;
}
.card__image-container > img {
  width: 100%;
  border-radius: var(--br);
}
.card__content-title {
  margin-top: 20px;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #111111;
}
.card__content-author {
  margin-top: 5px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #777777;
}
