<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/css/all.css"/>
    {%block head%}
      {%endblock%}
      <title>Foodfy
      </title>
    </head>
    <body>
      <header>
        <div class="img">
          <a href="/"><img src="/assets/logo.png" alt="Foodfy"/></a>
        </div>
        <div class="nav">
          <a class="about" href="/about">About</a>
          <a class="revenue" href="/revenue">Revenue</a>
        </div>
      </header>
      {%block content%}
        {%endblock%}
        <footer>
          <p>Todos direitos reservados, receitas
            <a href="/">Foodfy</a>.</p>
        </footer>
        {%block script%}
          {%endblock%}
        </body>
      </html>